[Unit]
Description=Livewire to Icecast
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=obsuser
Group=obsuser
ExecStart=/usr/local/bin/livewire_to_icecast.sh

[Install]
WantedBy=multi-user.target
